<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Maid For you...- Cleaning Company Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cleaning Company Website" name="keywords">
    <meta content="Cleaning Company Website" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link rel="icon" href="./logo.png" type="image/png">
    <!-- Template Stylesheet -->
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-lg-3">
                        <div class="brand">
                            <a href="./home">
                                Maid For You...
                                <!-- <img src="img/logo.png" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="topbar">
                            <div class="topbar-col">
                                <a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+ 91 - 0240- 2558101 to
                                    10</a>
                            </div>
                            <div class="topbar-col">
                                <a href="mailto:info@example.com"><i
                                        class="fa fa-envelope"></i>maidforyou431001@gmail.com</a>
                            </div>
                            <div class="topbar-col">
                                <div class="topbar-social">
                                    <a href="https://twitter.com/MaidFor3082"><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://youtube.com/@MaidForYouWebServices?si=0LvkMbbAbO0p-J3m"><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href="https://twitter.com/MaidFor3082"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar navbar-expand-lg bg-light navbar-light">
                            <a href="#" class="navbar-brand">MENU</a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav ml-auto">
                                    <a href="./home" class="nav-item nav-link">Home</a>
                                    <a href="./about2" class="nav-item nav-link active">About</a>
                                    <a href="./service2" class="nav-item nav-link">Service</a>
                                    <!-- <a href="./project" class="nav-item nav-link">Booking</a> -->
                                    <!--<a href="single.html" class="nav-item nav-link">Single</a>-->
                                    <a href="./contact2" class="nav-item nav-link">Contact</a>

                                    <a href="./profile" style="color: white; display: block; text-align: bottom;">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                    <!--<div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item">Sub Item 1</a>
                                                <a href="#" class="dropdown-item">Sub Item 2</a>
                                            </div>
                                        </div>-->
                                    <!--<a href="#" class="btn">Get A Quote</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="./home">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="./about.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="about-text">
                            <h2>Our Vision</h2>
                            <p>
                                Welcome to our premier maid services website, where cleanliness meets convenience! At
                                Maid For You..., we understand the demands of modern life, leaving little time for
                                maintaining a pristine home. That's where we come in, offering top-notch cleaning
                                services tailored to fit your schedule and preferences. Our team of experienced and
                                professional maids is dedicated to delivering exceptional results, using eco-friendly
                                products and proven techniques to ensure a sparkling clean environment every time.
                                Whether you need a one-time deep clean, regular maintenance, or specialized services
                                like move-in or move-out cleaning, we've got you covered. Sit back, relax, and let us
                                handle the dirty work while you enjoy a fresh and immaculate living space. Experience
                                the difference with Maid For You... today!
                            </p>

                            <a class="btn" href="">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Story Start -->
        <div class="story">
            <div class="container">
                <div class="section-header">
                    <p>Company Story</p>
                    <h2>Learn About Our Journey</h2>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="story-container">
                            <div class="story-end">
                                <p>Now</p>
                            </div>
                            <div class="story-continue">

                                <div class="row story-right">
                                    <div class="col-md-6">
                                        <p class="story-date">
                                            01 April 2024
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Eight Month's</h3>
                                                <p>
                                                    After eight months of dedicated service and unwavering commitment to
                                                    excellence, we are thrilled to announce the official launch of our
                                                    maid services website! What began as a vision to redefine the
                                                    standards of cleanliness and convenience has blossomed into a
                                                    thriving business
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row story-left">
                                    <div class="col-md-6 d-md-none d-block">
                                        <p class="story-date">
                                            01 April 2024
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Seven Month's</h3>
                                                <p>
                                                    After seven months of dedicated growth and meticulous planning, we
                                                    are thrilled to announce the official launch of our maid services
                                                    website. Our journey has been one of passion, dedication, and a
                                                    commitment to providing exceptional cleaning solutions tailored to
                                                    meet the diverse needs of our clients
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-md-block d-none">
                                        <p class="story-date">
                                            01 March 2024
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="story-year">
                                            <p>2024</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row story-right">
                                    <div class="col-md-6">
                                        <p class="story-date">
                                            01 February 2024
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Six Month's</h3>
                                                <p>
                                                    After six months of dedicated service and unwavering commitment to
                                                    excellence, we are thrilled to announce the launch of our maid
                                                    services website. Our journey began with a vision to revolutionize
                                                    the cleaning industry, and today, we stand proud as a testament to
                                                    our hard work and determination
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row story-left">
                                    <div class="col-md-6 d-md-none d-block">
                                        <p class="story-date">
                                            01 February 2024
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Five Month's</h3>
                                                <p>
                                                    After five months of dedicated service and commitment to excellence,
                                                    we are thrilled to announce the official launch of our maid services
                                                    website! Since our inception, our team has diligently worked to
                                                    provide top-notch cleaning solutions tailored to meet the unique
                                                    needs of our clients
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-md-block d-none">
                                        <p class="story-date">
                                            01 January 2024
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="story-year">
                                            <p>2023</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row story-right">
                                    <div class="col-md-6">
                                        <p class="story-date">
                                            01 December 2023
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Four Month's</h3>
                                                <p>
                                                    After four months of dedicated service and unwavering commitment, we
                                                    are thrilled to announce the official launch of our maid services
                                                    website. What began as a humble endeavor has blossomed into a
                                                    thriving platform, thanks to the trust and support of our valued
                                                    clients
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row story-left">
                                    <div class="col-md-6 d-md-none d-block">
                                        <p class="story-date">
                                            01 October 2023
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="story-box">
                                            <div class="story-text">
                                                <h3>After Two Month's</h3>
                                                <p>
                                                    We're thrilled to announce the successful launch of our maid
                                                    services website just two month's ago, and the growth we've
                                                    experienced since then has been truly remarkable. Our commitment to
                                                    providing exceptional cleaning services paired with user-friendly
                                                    online booking has resonated with customers
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 d-md-block d-none">
                                        <p class="story-date">
                                            01 October 2023
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="story-start">
                                <p>Launch</p>
                            </div>
                            <div class="story-launch">
                                <div class="story-box">
                                    <div class="story-text">
                                        <h3>Launched our company on 01 August 2023</h3>
                                        <p>
                                            We're thrilled to announce the grand launch of our premier maid services
                                            website, marking a new era of convenience and excellence in home cleaning.
                                            Our platform is designed to redefine the way you experience household
                                            maintenance, offering a seamless booking process and unparalleled quality of
                                            service
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Story End -->


        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header">
                    <p>Team Member</p>
                    <h2>Meet Our Developer's</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="./bhausaheb.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Bhausaheb Mote</h2>
                                <h3>Developer</h3>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="./aniket.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Aniknet Gawande</h2>
                                <h3>Developer</h3>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="./aditya.jpeg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Aditya Jaitmal</h2>
                                <h3>Developer</h3>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="./vishal.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Vishal Jangle</h2>
                                <h3>Developer</h3>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i>International Centre of Excellence in Engineering and
                                Management CIDCO Mahanagar,
                                Mailing address:
                                Opp. Bajaj Auto Main Gate,
                                Aurangabad-431136</p>
                            <p><i class="fa fa-phone-alt"></i>Ph: + 91 - 0240- 2558101 to 10</p>
                            <p><i class="fa fa-envelope"></i>maidforyou431001@gmail.com</p>
                            <div class="footer-social">
                                <a href="https://twitter.com/MaidFor3082"><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href="https://youtube.com/@MaidForYouWebServices?si=0LvkMbbAbO0p-J3m"><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href="https://twitter.com/MaidFor3082"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="./about2">About Us</a>
                            <a href="./about2">Our Story</a>
                            <a href="./service2">Our Services</a>
                            <a href="./project2">Our Projects</a>
                            <a href="./contact2">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="">Our Clients</a>
                            <a href="">Clients Review</a>
                            <a href="">Ongoing Project</a>
                            <a href="">Customer Support</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-form">
                            <h2>Stay Updated</h2>
                            <p>
                                Get conneted to our technical executive
                            </p>
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                    <a href="">Cookies</a>
                    <a href="">Help & FQAs</a>
                    <a href="./contact2">Contact us</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Maid For You...</a> All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Maid For You...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>


    <div id="translate-popup" class="translate-popup">
        <div id="google_translate_element"></div>
      </div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
      </script>
    
    
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,hi,mr', // English, Hindi, Marathi
          }, 'google_translate_element');
        }
    
        document.getElementById('translate-btn').addEventListener('click', function() {
          var popup = document.getElementById('translate-popup');
          popup.classList.toggle('show');
        });
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script>
        window.addEventListener('load', function() {
        var popup = document.getElementById('translate-popup');
        if (popup) {
          popup.style.display = 'block';
        }
      });
      </script>

    <!-- Template Javascript -->
    <script src="./main.js"></script>
</body>

</html>