<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    img{
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
</style>
<body>
    <h1>Images</h1>
    <hr />
   
    <% if (images.length > 0) { %>
        <!-- <h2><%= images[0].name %></h2> -->
        <img src="data:<%= images[0].image.contentType %>;base64,<%= images[0].image.data.toString('base64') %>"/>
    <% } else { %>
        <p>No images uploaded yet.</p>
    <% } %>
    
</body>
</html>
