
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Send OTP</title>
  <link rel="icon" href="./logo.png" type="image/png">
  <link rel="stylesheet" href="./forgot.css">
</head>
<body>
  <div class="container">
    <form method="post" action="/send-otp">
      <div class="card">
          <div class="card-body">
              <label for="phoneNumber" class="col-sm-2 col-form-label">Phone Number</label>
              <div class="col-sm-10">
              <input type="text" class="form-control passInput" id="phoneNumber" placeholder="Enter Your PhoneNumber" name="phone">
              </div>
          </div>
          <div class="text-center my-3 mx-5">
              <button type="submit" class="btn">Submit</button>
          </div>
      </div>
    </form>
  </div>
</body>
</html>
