<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Maid For You...- Cleaning Company Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Cleaning Company Website" name="keywords">
    <meta content="Cleaning Company Website" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link rel="icon" href="./logo.png" type="image/png">
    <!-- Template Stylesheet -->
    <link href="./style.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- Header Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="header-top row align-items-center">
                    <div class="col-lg-3">
                        <div class="brand">
                            <a href="./home">
                                Maid For You...
                                <!-- <img src="img/logo.png" alt="Logo"> -->
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="topbar">
                            <div class="topbar-col">
                                <a href="tel:+012 345 67890"><i class="fa fa-phone-alt"></i>+ 91 - 0240- 2558101 to
                                    10</a>
                            </div>
                            <div class="topbar-col">
                                <a href="mailto:info@example.com"><i
                                        class="fa fa-envelope"></i>maidforyou431001@gmail.com</a>
                            </div>
                            <div class="topbar-col">
                                <div class="topbar-social">
                                    <a href="https://twitter.com/MaidFor3082"><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://youtube.com/@MaidForYouWebServices?si=0LvkMbbAbO0p-J3m"><i class="fab fa-youtube"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href="https://twitter.com/MaidFor3082"><i class="fab fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="navbar navbar-expand-lg bg-light navbar-light">
                            <a href="#" class="navbar-brand">MENU</a>
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#navbarCollapse">
                                <span class="navbar-toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                                <div class="navbar-nav ml-auto">
                                    <a href="./home" class="nav-item nav-link">Home</a>
                                    <a href="./about2" class="nav-item nav-link">About</a>
                                    <a href="./service2" class="nav-item nav-link active">Service</a>
                                    <!-- <a href="./project" class="nav-item nav-link">Booking</a> -->
                                    <!--<a href="single.html" class="nav-item nav-link">Single</a>-->
                                    <a href="./contact2" class="nav-item nav-link">Contact</a>

                                    <a href="./profile" style="color: white; display: block; text-align: bottom;">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </a>
                                    <!--<div class="nav-item dropdown">
                                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                                            <div class="dropdown-menu">
                                                <a href="#" class="dropdown-item">Sub Item 1</a>
                                                <a href="#" class="dropdown-item">Sub Item 2</a>
                                            </div>
                                        </div>-->
                                    <!--<a href="#" class="btn">Get A Quote</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Page Header Start -->
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Our Services</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Our Services</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header">
                    <p>Our Services</p>
                    <h2>Provide Services Worldwide</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <img src="./house.jpg" alt="Service">
                            <h3>House Keeping</h3>
                            <p>
                                Welcome to our premier housekeeping maid services at Maid For You...! We understand that
                                maintaining a home is essential for your peace of mind and well-being.
                            </p>
                            <a class="btn" href="./project2">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <img src="./cook2.jpg" alt="Service">
                            <h3>Cook</h3>
                            <p>
                                Welcome to Cook Maid Services,we transform your home into a haven of cleanliness.Our
                                team of dedicated professionals understands importance.
                            </p>
                            <a class="btn" href="./project2">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <img src="./baby care2.jpg" alt="Service">
                            <h3>Baby Care</h3>
                            <p>
                                Welcome to our premier baby care maid services,we understand the immense responsibility
                                and joy that comes with caring for your little ones.
                            </p>
                            <a class="btn" href="./project2">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="service-item">
                            <img src="./garden1.jpg" alt="Service">
                            <h3>Garden Care Taker</h3>
                            <p>
                                Welcome to our premier garden care taker maid services,we understand the significance of
                                maintaining a beautiful and vibrant garden space.
                            </p>
                            <a class="btn" href="./project2">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->


        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="section-header left">
                            <p>Why Choose Us</p>
                            <h2>Expert Cleaners and World Class Services</h2>
                        </div>
                        <p>
                            At Expert Cleaners, we pride ourselves on delivering world-class services that exceed our
                            clients' expectations. Our team of experienced and meticulous cleaners is dedicated to
                            providing unparalleled maid services tailored to suit your specific needs. Whether you
                            require regular cleaning maintenance or a one-time deep clean, we approach every task with
                            professionalism and attention to detail.
                        </p>
                        <a class="btn" href="">Learn More</a>
                    </div>
                    <div class="col-md-7">
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="./feature-1.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Expert Cleaners</h3>
                                <p>
                                    Our team of dedicated professionals is committed to transforming your space into a
                                    pristine sanctuary
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="./feature-2.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Reasonable Prices</h3>
                                <p>
                                    Our mission is to provide exceptional cleaning services at prices that won't strain
                                    your budget
                                </p>
                            </div>
                        </div>
                        <div class="row align-items-center feature-item">
                            <div class="col-5">
                                <img src="./feature-3.jpg" alt="Feature">
                            </div>
                            <div class="col-7">
                                <h3>Quick & Best Services</h3>
                                <p>
                                    Our dedicated team is committed to delivering top-notch cleaning solutions tailored
                                    to your needs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->


        <!-- Pricing Plan Start -->
        <div class="price">
            <div class="container">
                <div class="section-header">
                    <p>Pricing Plan</p>
                    <h2>No Extra Hidden Charges</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Standard</h2>
                                </div>
                                <div class="price-pricing">
                                    <h2><small>₹</small>8,212</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul>
                                        <li>3 Bedrooms cleaning</li>
                                        <li>2 Bathrooms cleaning</li>
                                        <li>1 Living room Cleaning</li>
                                        <li>Vacuum Cleaning</li>
                                        <li>Within 6 Hours</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item featured-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Premium</h2>
                                </div>
                                <div class="price-pricing">
                                    <h2><small>₹</small>12,360</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul>
                                        <li>5 Bedrooms cleaning</li>
                                        <li>3 Bathrooms cleaning</li>
                                        <li>2 Living room Cleaning</li>
                                        <li>Vacuum Cleaning</li>
                                        <li>Within 6 Hours</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item">
                            <div class="price-header">
                                <div class="price-icon">
                                    <i class="fa fa-gift"></i>
                                </div>
                                <div class="price-title">
                                    <h2>Enterprise</h2>
                                </div>
                                <div class="price-pricing">
                                    <h2><small>₹</small>16,500</h2>
                                </div>
                            </div>
                            <div class="price-body">
                                <div class="price-des">
                                    <ul>
                                        <li>8 Bedrooms cleaning</li>
                                        <li>5 Bathrooms cleaning</li>
                                        <li>3 Living room Cleaning</li>
                                        <li>Vacuum Cleaning</li>
                                        <li>Within 12 Hours</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="price-footer">
                                <div class="price-action">
                                    <a href=""><i class="fa fa-shopping-cart"></i>Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pricing Plan End -->


        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt"></i>International Centre of Excellence in Engineering and
                                Management CIDCO Mahanagar,
                                Mailing address:
                                Opp. Bajaj Auto Main Gate,
                                Aurangabad-431136</p>
                            <p><i class="fa fa-phone-alt"></i>Ph: + 91 - 0240- 2558101 to 10</p>
                            <p><i class="fa fa-envelope"></i>maidforyou431001@gmail.com</p>
                            <div class="footer-social">
                                <a href="https://twitter.com/MaidFor3082"><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href="https://youtube.com/@MaidForYouWebServices?si=0LvkMbbAbO0p-J3m"><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="./about2">About Us</a>
                            <a href="./about2">Our Story</a>
                            <a href="./service2">Our Services</a>
                            <a href="./project2">Our Projects</a>
                            <a href="./contact2">Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-link">
                            <h2>Useful Link</h2>
                            <a href="">Our Clients</a>
                            <a href="">Clients Review</a>
                            <a href="">Ongoing Project</a>
                            <a href="">Customer Support</a>
                            <a href="">FAQs</a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="footer-form">
                            <h2>Stay Updated</h2>
                            <p>
                                Get conneted to our technical executive
                            </p>
                            <input class="form-control" placeholder="Email here">
                            <button class="btn">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-menu">
                <div class="f-menu">
                    <a href="">Terms of use</a>
                    <a href="">Privacy policy</a>
                    <a href="">Cookies</a>
                    <a href="">Help & FQAs</a>
                    <a href="./contact2">Contact us</a>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="">Maid For You...</a> All Right Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By <a href="">Maid For You...</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>


    <div id="translate-popup" class="translate-popup">
        <div id="google_translate_element"></div>
      </div>
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
      </script>
    
    
      <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,hi,mr', // English, Hindi, Marathi
          }, 'google_translate_element');
        }
    
        document.getElementById('translate-btn').addEventListener('click', function() {
          var popup = document.getElementById('translate-popup');
          popup.classList.toggle('show');
        });
      </script>
      <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script>
        window.addEventListener('load', function() {
        var popup = document.getElementById('translate-popup');
        if (popup) {
          popup.style.display = 'block';
        }
      });
      </script>

    <!-- Template Javascript -->
    <script src="./main.js"></script>
</body>

</html>