<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="icon" href="./logo.png" type="image/png">
    <style>
        /* Style for the popup */
        .success {
            background-color: #4BB543;
        }
        .success-animation {
            animation: success-pulse 2s infinite;
        }


        .danger {
            background-color: #CA0B00;
        }
        .danger-animation {
            animation: danger-pulse 2s infinite;
        }

        .custom-modal {
            position: relative;
            width: 350px;
            min-height: 250px;
            background-color: #fff;
            border-radius: 30px;
            margin: 40px 10px;
        }
        .custom-modal .content { 
            position: absolute;
            width: 100%;
            text-align: center;
            bottom: 0;
        }
        .custom-modal .content .type {
            font-size: 18px;
            color: #999;
        }
        .custom-modal .content .message-type {
            font-size: 24px;
            color: #000;
        }
        .custom-modal .border-bottom {
            position: absolute;
            width: 300px;
            height: 20px;
            border-radius: 0 0 30px 30px;
            bottom: -20px;
            margin: 0 25px;
        }
        .custom-modal .icon-top {
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            top: -30px;
            margin: 0 125px;
            font-size: 30px;
            color: #fff;
            line-height: 100px;
            text-align: center;
        }
        @keyframes success-pulse { 
            0% {
                box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
            }
            50% {
                box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .4);
            }
            100% {
                box-shadow: 0px 0px 30px 20px rgba(75, 181, 67, .2);
            }
        }
        @keyframes danger-pulse { 
            0% {
                box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
            }
            50% {
                box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .4);
            }
            100% {
                box-shadow: 0px 0px 30px 20px rgba(202, 11, 0, .2);
            }
        }


        .page-wrapper {
            height: 100vh;
            background-color: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 80px 0;
        }
        body { margin:0; font-family: 'Roboto';}
        @media only screen and (max-width: 800px) {
            .page-wrapper {
                flex-direction: column;
            }
        }

    </style>
</head>
<body>
    <div class="page-wrapper">
        <div class="custom-modal">
            <div class="success success-animation icon-top"><i class="fa fa-check"></i></div>
            <div class="success border-bottom"></div>
            <div class="content">
                <p class="type">Registered</p>
                <p class="message-type">Registration Successful!</p>
            </div>
        </div>
        
        <!-- <div class="custom-modal">
            <div class="danger danger-animation icon-top"><i class="fa fa-times"></i></div>
            <div class="danger border-bottom"></div>
            <div class="content">
                <p class="type">Appointment</p>
                <p class="message-type">A Problem Occurred </p>
            </div>
        </div>
    </div> -->

    <!-- JavaScript to close the popup after 3 seconds -->
    <script>
        // Close the popups after 3 seconds
        setTimeout(() => {
            document.querySelectorAll('.custom-modal').forEach(modal => {
                modal.style.display = 'none';
            });
            
            // Redirect to the index page after 10 seconds
            setTimeout(() => {
                window.location.href = './uploaddocument';
            }, 1000);
        }, 1000);
    </script>
</body>
</html>
